.gameTable{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 3px;
    border-radius: 3px;
}
.gameTable thead th {
    background-color: #0a81d7;
    height: 35px;
    color: #fff;
    border-right: 1px solid #006fc0;
    border-radius: 3px;
    border-radius: 3px;
    
 }
.gameTable tbody tr {   /*框線*/
    border: 1px solid #333333;
    border-radius: 3px;
    border-radius: 3px;
  }
.gameTable tr.moreContent td {
    background-color: #ffffff;
    height: 80px;
    color: #0a81d7;
    text-align: center;
    border-radius: 3px;
    border-radius: 3px;
 }
.gameTable tr.more td {
    background-color: #eef8ff;
    height: 35px;
    color: #004478;
    padding-left: 20px;
 }  
.pointer{         /*date <td>*/
    cursor: pointer;
    background-color: #c3e5ff;
  
}
.leagueName {           /* race*/
    background: #214dbe;
    display: inline-block;
    padding: 3px 0;
    color: #fff;
    border-radius: 3px;
    width: 83px;
    text-align: center;
    
}
.name{
    text-align: center;
    padding-left: 20px;
}
.name .vs {           /*host vs visite*/
    width: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    
}
.name .ht {
    text-align: center;
}
.name .at {
    text-align: center;
}
.rq1, .rq2 {     /*concede*/
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.gameTable tr.moreContent td.odds span {  /* 勝 負 平*/
    width: 60px;
    text-align: center;
    background: #b6dfff;
    padding: 6px 12px 5px;
    color: #0a81d7;
    margin: 3px 3px 0 0;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}
.time{          /*time*/
    text-align: center;
    display: inline-block;
}
.num {          /*num*/
    color: #ed3a37!important;
}
.arrow{
    width: 19px;
    height: 11px;
    padding-right: 20px;
    background: url(./img/more.png) center 0 no-repeat;
}
.arrow1{
    width: 11px;
    height: 18px;
    padding-right: 20px;
    background: url(./img/morel.png) center 0 no-repeat;
}
.contentWrap {
    width: 930px;
    background: #b6dfff;
    padding: 15px;
    height: auto;
    margin: 15px auto 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
